name: Release Build
on:
  push:
    tags:
      - 'v[0-9].[0-9]+.[0-9]+'

env:
  GO_VERSION: 1.20.5

jobs:
  build:
    name: build (linux)
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Build artifact
        run: make build
      - name: Compress artifact
        run: tar -czvf spiffe-helper-${{ github.ref_name }}.tar.gz spiffe-helper
      - name: Archive artifact
        uses: actions/upload-artifact@v3
        with:
          name: spiffe-helper
          path: spiffe-helper-${{ github.ref_name }}.tar.gz

  release:
    runs-on: ubuntu-22.04
    needs: build

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Download archived artifact
        uses: actions/download-artifact@v3
        with:
          name: spiffe-helper
          path: ./artifact/
      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        # Create the release using the version number as the title
        run: gh release create "${GITHUB_REF#refs/tags/}" ./artifact/spiffe-helper-${{ github.ref_name }}.tar.gz --title "${GITHUB_REF#refs/tags/}"
