name: Release Build
on:
  push:
    tags:
      - 'v[0-9].[0-9]+.[0-9]+'

env:
  GO_VERSION: 1.20.5

jobs:
  build-matrix:
    name: Build matrix
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.3

      - id: set-matrix
        name: Collect all tests
        run: |
          tests="$(find .github/tests -maxdepth 1 -type f -name '*.sh' -exec basename {} \; | sort | uniq)"
          tests_json="$(echo "$tests" | jq -c --slurp --raw-input 'split("\n") | map(select(. != ""))')"
          echo "tests=$tests_json" >> $GITHUB_OUTPUT
          echo "Collected tests: $tests_json"

    outputs:
      tests: ${{ steps.set-matrix.outputs.tests }}

  integration-tests:
    runs-on: ubuntu-22.04
    needs: [build-matrix]
    permissions:
      contents: read
    strategy:
      matrix:
       tests: ${{ fromJson(needs.build-matrix.outputs.tests) }}
    steps:
      - uses: actions/checkout@v3
      - name: Build containers
        run: ./build.sh
        shell: bash
        working-directory: ./.github/tests/it
      - name: Run tests
        run: bash ${{ matrix.tests }}
        shell: bash
        working-directory: ./.github/tests

  build:
    name: build (linux)
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Build artifact
        run: make build
      - name: Compress artifact
        run: tar -czvf spiffe-helper-${{ github.ref_name }}.tar.gz spiffe-helper
      - name: Archive artifact
        uses: actions/upload-artifact@v3
        with:
          name: spiffe-helper
          path: spiffe-helper-${{ github.ref_name }}.tar.gz

  release:
    runs-on: ubuntu-22.04
    needs: build

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Download archived artifact
        uses: actions/download-artifact@v3
        with:
          name: spiffe-helper
          path: ./artifact/
      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        # Create the release using the version number as the title
        run: gh release create "${GITHUB_REF#refs/tags/}" ./artifact/spiffe-helper-${{ github.ref_name }}.tar.gz --title "${GITHUB_REF#refs/tags/}"
